{% extends "score/layout.html" %}
{% load static %}

{% block body %}
{% if user.is_authenticated %}

<div class="container">
<h2>Club scores:<br></h2>
    {% for user in users %}
    <h4>{{ user.club_id__club_name }}</h4>
    {% endfor %}
    <div class="table-responsive">
        <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Bowtype</th>
            <th scope="col">Round</th>
            <th scope="col">Score</th>
            <th scope="col">Date Shot</th>
            </tr>
        </thead>
        <tbody>

        {% for post in posts %}
            <tr>
            <td>{{ post.archer_id__username | title }} {{ post.archer_id__club_id }}</td>
            <td>{{ post.bowtype_id__bowtype }}</td>
            <td>{{ post.rndname__roundname }}</td>
            <td>{{ post.score }}</td>
            <td>{{ post.dateshot | date:"D d M Y"}}</td>
            </tr>
        </tbody>
        {% endfor %}
        </table>
    </div>
</div>
{% else %}

<h1>Club Scores</h1>

{% endif %}

{% endblock %}