{% extends "score/layout.html" %}
{% load static %}

{% block body %}
<div class="container">
{% if user.is_authenticated %}
<ul class="list-unstyled row">
        <li class="list-group-item list-group-item-dark col-md-12"><h2>Round Scores</h2></li>
{% for post in names %}    
        <a href="{% url 'score:displayroundscores' post.rndname__id %}"><li class="list-group-item col-md-4">{{post.rndname__roundname }}</a></li>

 
{% endfor %}
</ul>
{% else %}
<h1>No rounds recorded yet</h1>
{% endif %}
</div>
{% endblock %}